@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --red: #FF5F5D;
    --orange: #F29325;
    --background: #747E7E;
    --white: #ffff;
}

body {
    font-family: Atkinson Hyperlegible Mono;
}